@model API_Pruebas.Models.CreacionModel

@{
    ViewData["Title"] = "Creacion";
}

@if (ViewBag.ResponseContent != null)
{
    <div>
        @ViewBag.ResponseContent
    </div>
}

<h4>Creacion</h4>
@* <table class="table"> *@
@*     <thead class="table-light"> *@
@*     <tr> *@
@*         <th>"userName"</th> *@
@*         <th>"password"</th> *@
@*         <th>"Expediente"</th> *@
@*         <th>"IdCte"</th> *@
@*         <th>"IdConjunto"</th> *@
@*         <th>"TipoContrato"</th> *@
@*         <th>"FechaElaCto"</th> *@
@*         <th>"InicioMantenimiento"</th> *@
@*         <th>"Manzana"</th> *@
@*         <th>"Lote"</th> *@
@*     </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*     <tr> *@
@*         <td>T3ST</td> *@
@*         <td>SIST3MAS</td> *@
@*         <td>lc202331</td> *@
@*         <td>9</td> *@
@*         <td>10</td> *@
@*         <td>E</td> *@
@*         <td>2023-09-29</td> *@
@*         <td>2023-11-05</td> *@
@*         <td>116</td> *@
@*         <td>31</td> *@
@*     </tr> *@
@*     </tbody> *@
@* </table> *@

<form asp-action="Index" asp-controller="Creacion" method="post">
    
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="userName" class="form-label">Username</label>
        <input type="text" class="form-control" asp-for="userName">
        <span asp-validation-for="userName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="password" class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="password">
        <span asp-validation-for="password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Expediente" class="form-label">Expediente</label>
        <input type="text" class="form-control" asp-for="Expediente">
        <span asp-validation-for="Expediente" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="IdCte" class="form-label">IdCte</label>
        <input type="text" class="form-control" asp-for="IdCte">
        <span asp-validation-for="IdCte" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="IdConjunto" class="form-label">IdConjunto</label>
        <input type="text" class="form-control" asp-for="IdConjunto">
        <span asp-validation-for="IdConjunto" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TipoContrato" class="form-label">Tipo Contrato</label>
        <input type="text" class="form-control" asp-for="TipoContrato">
        <span asp-validation-for="TipoContrato" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="FechaElaCto" class="form-label">Fecha Elaboración Contrato</label>
        <input type="date" class="form-control" asp-for="FechaElaCto">
        <span asp-validation-for="FechaElaCto" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="InicioMantenimiento" class="form-label">Inicio Mantenimiento</label>
        <input type="date" class="form-control" asp-for="InicioMantenimiento">
        <span asp-validation-for="InicioMantenimiento" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Manzana" class="form-label">Manzana</label>
        <input type="number" class="form-control" asp-for="Manzana">
        <span asp-validation-for="Manzana" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Lote" class="form-label">Lote</label>
        <input type="number" class="form-control" asp-for="Lote">
        <span asp-validation-for="Lote" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>