@{
    ViewData["Title"] = "Consulta";
}

<h2>Consultar registros</h2>

<form>
    <div class="mb-3">
        <label asp-for="exampleInputEmail1" class="form-label">Usuario</label>
        <input type="email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="exampleInputEmail1" class="form-label">Id request</label>
        <input type="email" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>